{% extends "layout.html" %}
{% import "macros/_event.html" as misc %}
{% import "macros/_social.html" as social %}

{% block page_title %}{{current_event.name}} / {% if current_event.has_finished %} Results {% elif current_event.has_started %} Project Board {% else %} Challenges {% endif %}{% endblock %}

{% block page_meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url_for('public.event', event_id=current_event.id, _external=True) }}">
  <meta property="og:title" content="{{current_event.name}}">
  <meta property="og:image" content="{{current_event.logo_url}}">
  <meta property="og:description" content="{{current_event.oneliner}}">
  <meta name="description" content="{{current_event.oneliner}}">
  <script type="application/ld+json">{{ current_event.get_schema(request.host_url)|safe }}</script>
{% endblock %}

{% block body_class %}event-home event-{{ current_event.id }} event-{% if current_event.has_finished %}finished{% elif current_event.has_started %}started{% else %}prep{% endif %}{% endblock %}

{% block content %}
{% cache 300, 'event-%d' % current_event.id %}

{% if current_event.has_categories %}
<center class="nav-categories">
  <div class="btn-group" data-toggle="buttons" role="group" aria-label="Filter by category">
    <label class="btn btn-default active" title="All projects">
      <input type="radio" name="category" id="" autocomplete="off" checked>
        <i class="fa fa-cube"></i><br>
        <span> </span>
    </label>
    {% for category in current_event.categories_for_event() %}
      <label class="btn btn-default">
        <input type="radio" name="category" id="{{category.id}}" autocomplete="off">
          {% if category.logo_icon %}
            <i class="fa fa-{{category.logo_icon}}"></i><br>
          {% endif %}
          <span>{{ category.name }}</span>
      </label>
    {% endfor %}
  </div>
</center>
{% endif %}

<div class="honeycomb mb-5">
  <a name="projects"></a>
  <div class="ibws-fix">
  {% for project in projects %}
    {{ misc.render_project_hexagon(project) }}
  {% endfor %}
  {% if project_count % 2 != 0 %}
    {{ misc.render_empty_hexagon() }}
  {% endif %}
  </div>
</div><!-- /honeycomb -->

<div class="category-info clearfix pt-4 mt-4">
  {% if current_event.has_started and not current_event.has_finished %}
    {% if not current_user or not current_user.active %}
    <div category-id="infobox" class="category-container category-tip">
      <center><h4><i class="fa fa-lightbulb-o"></i> &nbsp;The event has started! Explore the challenges above, then log in to get instructed and join projects.</h4></center>
    </div>
    {% endif %}
  {% endif %}
  {% for category in current_event.categories_for_event() %}
  <div category-id="{{category.id}}" class="category-container" style="border-top:5px solid {{category.logo_color}}; display:none">
    {% if current_user and current_user.active and current_user.is_admin %}
      <a href="{{ url_for('admin.category', category_id=category.id) }}"
         class="btn btn-info btn-sm float-right">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit</a>
    {% endif %}
    <h3>{{ category.name }}</h3>
    {{ category.description|onebox|markdown|safe }}
  </div>
  {% endfor %}
</div><!-- /category-info -->

<div class="start-project btn-group m-4 pt-4">
  {% if current_event.can_start_project %}
  <a href="{{ url_for('project.project_new', event_id=current_event.id) }}" class="btn btn-lg btn-success">
    {% if current_event.lock_resources %}
      <i class="fa fa-cubes"></i>
      <span>Share a resource</span>
    {% elif current_event.has_started %}
      <i class="fa fa-rocket"></i>
      <span>Start a project</span>
    {% elif not current_event.has_finished %}
      <i class="fa fa-cube"></i>
      <span>Post a challenge</span>
    {% endif %}
  </a>
  {% endif %}
  {% if current_event.webpage_url %}
  <a href="{{ current_event.webpage_url }}" class="btn btn-lg btn-dark">
    {% if not current_event.has_finished %}
    <i class="fa fa-ticket" aria-hidden="true"></i>
    Register
    {% else %}
    About
    {% endif %}
    </a>
  {% endif %}
  {% if current_event.community_url %}
    <a href="{{ current_event.community_url }}" target="community" class="btn btn-lg btn-info">
      <i class="fa fa-comment"></i>
      Connect</a>
  {% endif %}
</div>

<div class="event-nav mt-2 mb-2 text-center" role="group" aria-label="Event navigation">
  {% if current_event.countdown %}
    <a href="{{ url_for('public.dashboard') }}" class="btn btn-default" title="{{ current_event.countdown }}">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      {{ current_event.countdown|until_date }}</a>
  {% endif %}
  <a href="{{ url_for('public.event_stages', event_id=current_event.id) }}" class="btn btn-default">
    <i class="fa fa-signal" aria-hidden="true"></i>
    <span>By Stage</span>
  </a>
  <a href="{{ url_for('public.event_categories', event_id=current_event.id) }}" class="btn btn-default">
    <i class="fa fa-bars" aria-hidden="true"></i>
    By Category</a>
  <a href="{{ url_for('public.event_participants', event_id=current_event.id) }}" class="btn btn-default">
    <i class="fa fa-child" aria-hidden="true"></i>
    <span>Participants</span>
  </a>
</div>

{% if current_event.description %}
<div class="event-info mt-2 mb-2">
  <div class="content">
    <a name="info"></a>
    <div class="event-description bg-body">
      {{current_event.description|markdown}}
    </div>
  </div>
</div><!-- /.event-info -->
{% endif %}

{% if current_event.instruction %}
<div class="jumbotron event-instruction mt-4 mb-2">
  <div class="content">
    {{current_event.instruction|markdown}}
  </div>
</div>
{% endif %}

{% if current_event and current_event.countdown and not 'off' in config.DRIBDAT_CLOCK %}
<center class="container-countdown-bottom">
  <a class="container-countdown" href="#top" title="{{ current_event.countdown }}">
    <div id="clockEvent" class="event-countdown flipdown" data-start="{{ current_event.countdown }}"></div>
  </a>
</center>
{% endif %}

{% if current_event.community_embed %}
<div class="panel panel-default community-embed">
  <a name="community"></a>
  <div class="panel-body"><i class="fa fa-comment"></i>
    {{current_event.community_embed|safe}}
  </div>
</div>
{% endif %}

{% endcache %}

<center class="event-footer mt-5">
  {% if current_event.countdown %}
    <div role="group" aria-label="Event countdown">
      <a href="{{ url_for('public.dashboard') }}" class="btn btn-default" title="{{ current_event.countdown }}">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        {{ current_event.countdown|until_date }}</a>
    </div>
  {% endif %}

  {% if current_user and current_user.active and current_user.is_admin %}
    <div role="group" aria-label="Event administration" class="btn-group admin-area" title="Admin area">
      <a href="{{ url_for('public.event_print', event_id=current_event.id) }}" class="btn btn-secondary">
        <i class="fa fa-print" aria-hidden="true"></i>
        Report</a>
      <a href="{{ url_for('admin.event', event_id=current_event.id) }}" class="btn btn-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Event</a>
      <a href="{{ url_for('admin.project_new', event_id=current_event.id) }}" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Project</a>
    </div>
  {% endif %}

  {% if config.DRIBDAT_SOCIAL_LINKS %}
    {{ social.share_links(current_event.hashtag, url_for('public.event', event_id=current_event.id, _external=True)) }}
  {% endif %}
</center>
{% endblock %}
