{% extends "layout.html" %}
{% import "macros/_event.html" as misc %}

{% block page_title %}{{ user.username }}{% endblock %}
{% block body_class %}userprofile{% endblock %}

{% block content %}

{% if current_user and current_user.is_authenticated %}
<div class="row">
  <div class="col-sm text-right">
  {% if current_user.id == user.id %}

    <div class="btn-group float-left">
      <a id="project-post"
         href="{{ url_for('public.user_post') }}"
         title="Post an update to your current project" class="btn btn-success btn-lg">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
        Write a Post</a>

      <a href="{{ url_for('auth.user_profile') }}" class="btn btn-warning btn-lg">
        <i class="fa fa-child"></i>
        Edit Profile
      </a>
    </div>

    <div class="btn-group mt-2">
      {% if may_certify %}
        <a id="get-certified" class="btn btn-info btn-lg"
          href="{{ url_for('public.user_cert') }}"
          title="Download a participation certificate">
          <i class="fa fa-download" aria-hidden="true"></i>
          Get Certificate
        </a>
      {% endif %}

      <a id="get-mydata" class="btn btn-secondary btn-lg text-left"
        href="{{ url_for('api.current_user_hackathon_json') }}" download
        title="Download a snapshot of my contributions">
        <i class="fa fa-download"></i>
        My Data
      </a>

      <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary btn-lg"
        title="Sign out of this account">
        <i class="fa fa-sign-out"></i>
        Logout
      </a>
    </div>

  {% elif current_user.is_admin %}

    <div class="btn-group">
      <a id="user-email"
         href="mailto:{{ user.email }}"
         class="btn btn-info btn-lg">
        <i class="fa fa-email" aria-hidden="true"></i>
        Write E-mail</a>

      <a id="user-edit"
          href="{{ url_for('admin.user', user_id=user.id )}}"
          class="btn btn-secondary btn-warning btn-lg">
        <i class="fa fa-child"></i>
        Edit Profile
      </a>
    </div>

  {% endif %}
  </div>
</div>
{% endif %}

<div class="row mt-2 profile-header">

  <div class="col-2 text-center">
    {% if user.carddata %}
      <img src="{{user.carddata}}"/>
    {% endif %}
  </div>

  <h1 class="col-sm text-left">
    <span>
      {{ user.username }}
    </span>
  </h1>

  {% if user.webpage_url %}
  <div class="col-sm">
    <div class="profile-social">
      <a href="{{ user.webpage_url }}" class="btn btn-lg btn-light" target="_blank" rel="noopener noreferrer">
      {% if user.cardtype == '' %}
        <i class="fa fa-globe"></i>
        Website
      {% else %}
        <i class="fa fa-{{ user.cardtype }}"></i>
        Follow
      {% endif %}
      </a>
    </div>
  </div>
  {% endif %}

</div>
<div class="row mb-3 mt-2">

  {% if score %}
  <div class="col-2 text-center">
    <h5 title="Total score across all projects">
      <span class="user-score">{{ score }}</span>
    </h5>
  </div>
  {% endif %}

  <div class="col-sm">
    <ul class="profile-roles">
    {% for role in user.roles %}
      <li>{{ role.name }}</li>
    {% endfor %}
    </ul>
  </div>


</div>

{% if user.my_story %}
<div class="row">
  <div class="profile-story col-12 bg-body">
    <a name="story"></a>
    <h2 class="mt-5 text-center">My Story</h2>
    <blockquote class="profile-text">
      {{ user.my_story|markdown }}
    </blockquote>
  </div>
</div>
{% endif %}

{% if not projects %}
  {% if current_user and current_user.id == user.id %}
    <div class="alert alert-success">
    No projects here yet. Time to <b>Join</b> or <b>Start</b> something awesome!
    </div>
  {% endif %}
{% else %}
  <a name="projects"><h1>Projects</h1></a>
  <div class="profile-projects honeycomb">
    <div class="row ibws-fix">
    {% for project in projects %}
      {{ misc.render_project_hexagon(project) }}
    {% endfor %}
    </div>
  </div><!-- /profile-projects -->
{% endif %}

{% if submissions %}
  <a name="challenges"></a>
  <h2 class="mt-5 text-center">Challenges</h2>
  <div class="profile-projects container-fluid">
    <div class="row flex-row flex-nowrap">
    {% for project in submissions %}
      <a class="col-md-5 ms-auto card project"
        {%- if project.image_url %}
          style="background-image:url('{{project.image_url}}'); padding-left:100px"
        {%- endif %}
        href="{{ url_for('project.project_view', project_id=project.id) }}">

        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">{{ project.summary }}</p>
        </div>

      </a>
    {% endfor %}
    </div>
  </div><!-- /profile-challenges -->
{% endif %}

{% if user.my_goals %}
<div class="row">
  <div class="profile-goals col-12 bg-body">
    <a name="goals"><h1>&#127919; Goals</h1></a>
    <blockquote class="profile-text">
      {{ user.my_goals|markdown }}
    </blockquote>
  </div>
</div>
{% endif %}

{% if not posts %}
  {% if current_user and current_user.id == user.id %}
    <div class="alert alert-info">
    Once you join a project, write some <b>Posts</b> to show a log of your work.
    </div>
  {% endif %}
{% else %}
<a name="timeline"><h1>Personal log</h1></a>
<div class="jumbotron">

  <section class="timeline">
  {% for s in posts %}
  <div class="timeline-item timeline-{{ s.name }} timeline-{{ s.icon }}">
    <div class="timeline-img">
      <i class="fa fa-paperclip" aria-hidden="true"></i>
    </div>
    <div class="timeline-content timeline-card js--fadeInBottom">
      <div class="timeline-img-header">
      <a href="{{ url_for('project.project_view', project_id=s.project_id) }}#log">
        <h2>{{s.project_name}}</h2>
      </a>
      </div>

      {% if s.content %}
      <div class="content">
        {{s.content|markdown|safe}}
      </div>
      {% endif %}

      <div class="date" title="{{s.date}}">{{s.timesince}}</div>
    </div>
  </div>
  {% endfor %}
  </section>
</div>
{% endif %}

{% endblock %}
