{% macro render_project_tooltip(project) %}
	data-toggle="tooltip"
	data-summary="{{ project.summary or project.name }}"
	data-hashtag="{{ project.hashtag }}"
	data-imageurl="{{ project.image_url|quote_plus }}"{#
		> Status icons in tooltip:
	#}data-status="{% if project.contact_url %}&#x1f44b;{% endif %}{#
	#}{% if project.webpage_url %}&#x1f310;{% endif %}{#
	#}{% if project.download_url %}&#x1f4c2;{% endif %}{#
	#}{% if project.source_url %}&#x1f4bb;{% endif %}"
{% endmacro %}

<!-- Based on Hexagon Tiles by Graham Pyne http://codepen.io/gpyne/pen/iElhp/ -->
{% macro render_project_hexagon(project) %}
	<a href="{{ url_for('project.project_view', project_id=project.id) }}"
		 class="hexagon {{
		 	'challenge' if project.is_challenge else 'project'
		 }}{{
		 	' stage-%d' % project.progress if project.progress > 0
		 }} category-highlight"
		 {% if project.category_id %}
		 	 category-id="{{ project.category_id }}"
		 {% endif %}
		 {% if project.logo_color %}
		 	 style="border-bottom-color:{{ project.logo_color }}"
		 {% endif %}
		 {{ render_project_tooltip(project) }}
		>
		<div class="hexagontent {{
	        'text-md' if 32 < project.name|length else 'text-sm' if 42 < project.name|length
		}}{{ ' with-icon' if project.logo_icon }}">
			{% if project.is_challenge and project.team %}
				<span class="team-count" title="# following">{{ project.team|count }}</span>
			{% endif %}
			<span class="project-name">{{ project.name|truncate(64, True, '..') }}</span>
			{% if project.image_url %}
				<div class="hexaicon" style="background-image:url('{{project.image_url|quote_plus}}')"></div>
			{% elif project.logo_icon %}
				<div class="hexaicon"><i class="fa fa-{{project.logo_icon}}"></i></div>
			{% endif %}
		</div>
		{% if project.score and project.score > 0 %}
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
			</div>
		</div>
		{% endif %}
	</a>
{% endmacro %}

{% macro render_embed_event(event, projects, showNav=False) %}
<div class="embed-event">
	{% if showNav %}
  <div class="btn-group mb-4" role="group" aria-label="Embedded navigation">
    <a href="{{ url_for('public.event', event_id=event.id) }}" target="_blank" class="btn btn-dark">
      <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
      {{ event.name }}
    </a>
  </div>
	{% endif %}
  <div class="honeycomb">
    <div class="ibws-fix">
    {% for project in projects %}
			<a href="{{ url_for('project.project_view', project_id=project.id) }}"
         target="_parent"
				 class="hexagon {{
		 		 	'challenge' if project.is_challenge else 'project'
		 		 }}{{
		 		 	' stage-%d' % project.progress if project.progress > 0
		 		 }}"
		 		 {{ render_project_tooltip(project) }}>
        <div class="hexagontent">
          {% if project.logo_icon %}
          <i class="fa fa-{{project.logo_icon}}"></i>
          {% endif %}
        </div>
      </a>
      {% if showNav and loop.index % 7 == 0 %}
        </div><div class="ibws-fix">
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div><!-- /.embed-event -->
{% endmacro %}

{% macro render_empty_hexagon() %}
	<a class="hexagon challenge blank">
		<div class="hexagontent"></div>
	</a>
{% endmacro %}

{% macro render_project_card(project) %}
	<a class="col-md-5 ms-auto card {{ 'challenge' if project.is_challenge else 'project' }}"
		 href="{{ url_for('project.project_view', project_id=project.id) }}">

		{% if project.image_url %}
			<img class="project-image" src="{{project.image_url}}">
		{% endif %}

		{% if project.score and not project.is_challenge %}
		<div class="project-score">
			<div class="progress" title="A score based on profile completeness and voting results">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{project.score}}" aria-valuemin="0" aria-valuemax="70" style="width:{{project.score}}%">
					{{project.score}}
				</div>
			</div>
			<center>{{ project.event.name }}</center>
		</div>
		{% endif %}

		<div class="card-body">
			<h5 class="card-title">{{ project.name }}</h5>
			<p class="card-text">{{ project.summary }}</p>
		</div>
	</a>
{% endmacro %}

{% macro render_home_event(event) %}
	<div class="col-lg-4 an-event"><div class="card">
			<div title="{{ event.hostname }}"
				{% if event.gallery_url %}
				  class="card-img-top gallery-img" style="background-image: url('{{ event.gallery_url }}')"
		    {% elif event.logo_url %}
		      class="card-img-top" style="background-image: url('{{ event.logo_url }}')"
		    {% endif %}>
			</div>
	    <div class="card-body">
	      {% if not event.lock_resources %}
	        <i class="fa fa-code" style="float:right"></i>
		      <h3 class="card-title">
		        <a href="{{ url_for('public.event', event_id=event.id) }}">
		          {{event.name}}</a>
		      </h3>
				{% endif %}
	      <div class="card-text">
	        {% if event.webpage_url %}
	          <a href="{{ event.webpage_url }}" class="float-left">
	            <i class="fa fa-globe" aria-hidden="true"></i> www</a>
	        {% endif %}
	        {% if not event.lock_resources %}
	            <p class="an-event-meta">
	              <b>{{ event.date }}</b>
	              <span>{{ event.location }}</span>
	            </p>
	        {% endif %}
	        <p class="an-event-description">
	          {{event.summary or event.description|truncate(300) or event.oneliner|markdown|striptags|truncate(300)}}
	        </p>
	      </div>
	      <div class="an-event-actions text-center">
	        {% if event.lock_resources %}
	            <a href="{{ url_for('public.event_stages', event_id=event.id) }}" class="btn btn-lg btn-warning">
								<i class="fa fa-cubes" aria-hidden="true"></i>
                {{event.name}}
	            </a>
	        {% elif event.has_finished %}
	            <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-lg btn-secondary">
      					<i class="fa fa-star" aria-hidden="true"></i>
	              Results
	            </a>
	        {% else %}
	            <a href="{{ url_for('public.event', event_id=event.id) }}" class="btn btn-lg btn-success">
      					<i class="fa fa-rocket" aria-hidden="true"></i>
	              Challenges
	            </a>
	        {% endif %}
	      </div>
	    </div><!-- /.card-body -->
	</div></div>
{% endmacro %}

{% macro render_featured_event(event, current=False) %}
	<div class="carousel-item{% if current %} active{% endif %}">
		<svg class="bd-placeholder-img" width="100%" height="100%"
				 xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
			{% if event.background_image %}
				 <image width="100%" height="100%"
				 			  xlink:href="{{ event.background_image }}"
								preserveAspectRatio="xMinYMin slice">
			{% else %}
				 <rect width="100%" height="100%" fill="#777"/>
			{% endif %}
		</svg>

		<div class="container">
			<div class="carousel-caption">

  			{% include "includes/eventhome.html" %}

			 </div><!-- /.carousel-caption -->
		 </div>
	 </div><!-- /.carousel-item -->
{% endmacro %}
