/* =============================================================================
    dribdat custom styles
   ========================================================================== */

/* universal */

section { overflow: auto; }
textarea { resize: vertical; }

.container.with-event {
  margin-top: 1em;
  clear: both;
}

.hidden { display: none; }
.bigger { font-size: 125%; }
.huge { font-size: 4rem; opacity: 0.6; }

sp {
  box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
  padding: 1px 5px;
  background: #eee;
  margin: 1px 2px;
  font-family: monospace;
}

/* Forms */
form input[type="checkbox"] {
  margin-right: 0.5em;
}
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}
.form-passwordless {
  max-width: 33em;
}
.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  max-width: 25em;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-project-post h4 {
  margin-top: 1em;
  font-weight: normal;
  text-align: center;
  font-size: 250%;
}
.projectform textarea[id="note"],
.form-project-post textarea {
  height: 4em;
}
.projectform label[for="note"] {
  display: none; /* Hide label on Project Edit log */
}
.form-project-post .checkbox input {
  opacity: 1;
  margin-right: 1em;
}
.form-project-post .checkbox input:checked {
  opacity: 0;
}
.form-project-post .checkbox:before {
  font-family: "FontAwesome";
  font-weight: bold;
  color: orange;
  height: 1em;
  content: '\f005';
  margin-left: -.2em;
  position: absolute;
  font-size: 2em;
  margin-top: -.36em;
  z-index: -1;
}
.form-project-post .post-image-btn {
  float: left;
  margin-right: -15em;
}
@media (max-width: 760px) {
  .form-project-post .post-image-btn {
    margin-right: -2em;
  }
}
.template-select .card-body .fa {
  font-size: 1.4em;
  float: right;
  opacity: 0.5;
}

.upload-note {
  font-size: 90%;
  margin: 1em 0;
  opacity: 0.8;
}
.admin .form-group .control-label {
  font-size: 175%;
  margin-top: 1em;
}
.admin .form-group .radio-inline {
  margin-right: 1em;
}
.admin .form-group .help-inline {
  color: #555;
  margin: 0.5em 0em;
  display: block;
}
.admin .form-group .checkbox .help-inline {
  margin: 0em;
  display: inline-block;
}
.admin .form-group .checkbox label {
  font-weight: bold;
}
.admin .form-group .checkbox label:hover {
  background: #ff3;
}
.admin-events .event-name {
  font-size: 125%;
}
.admin-projects .projects-extra {
  float:right; clear:both; margin-bottom:1em;
}

.scroll-after-500 {
  overflow-y: auto;
  max-height: 500px;
}
.alert .close {
  font-size: 1.6rem;
  margin: -0.2em -0.3em;
}
.alert.project-tips .close {
  margin: 0.2em 0.4em -1em -1em;
  position: relative;
  z-index: 99;
}
.alert.project-tips .user-score {
  margin: -1em 0em 1em -1em;
}

/* pagination */
.admin-search, .pagination { margin-bottom: 1em; clear: both; }
.pagination > * { margin-right: 0.5em; padding: 0.5em 0.8em; background: #eee; }

.admin .container table td { vertical-align: middle; }

.admin .card.stat {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
  background: #922;
  color: #fff;
  text-decoration: none;
}
.admin .card.stat:hover {
  background: #f55;
}

.btn-group.admin-area {
  padding: 5px;
  border: 1px solid rgba(200,0,0,0.1);
  box-shadow: 5px 5px 0px rgba(200,0,0,0.5);
}
.nav-item.admin-area {
  box-shadow: 0px 5px 0px rgba(200,0,0,0.5);
}
.admin .navbar {
  box-shadow: 0px 5px 0px rgba(200,0,0,0.5);
}
.admin .navbar .nav-item.admin-area {
  box-shadow: none;
}
.nav-link.active {
  font-weight: bolder;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea;*/
  /*color: #999999;*/
}
footer a {
  color: #555;
}
footer p {
  float: right;
  margin-right: 25px;
}
footer ul {
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}
footer .company {
  float: left;
  margin-left: 25px;
}
footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
footer .footer-nav a { text-decoration: none }
footer .dribdat-logo {
  float: left;
}
footer .dribdat-logo img {
  height: 4em;
  margin-top: -1.5em;
  margin-left: 13px;
}
footer .dribdat-logo:hover {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}

ul.help-block {
  background-color: red; color: white; padding: 5px;
}

/* Overall layout headings and navigation */
.section-header .section-header-logo {
  float: left;
  margin-right: 45px;
}
.section-header .section-header-logo img {
  height: 8em;
  margin-bottom: 2em;
}
.section-header .section-header-content div {
  /* color: initial; */
  font-size: 125%;
  display: inline-block;
  margin-right: 1em;
}
.section-header .section-header-content .event-hostname {
  display: block;
  font-weight: 600;
}
.section-header .section-header-content .fa {
  opacity: 0.5;
  width: 1.2em;
}
.section-header a:hover {
  text-decoration: none;
}
@media (max-width: 760px) {
  .section-header .section-header-logo {
    position: relative;
    margin: 0px 10px 0 0;
  }
}

nav.navbar {
  margin-bottom: 2em;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border: 0px;
}
nav.navbar .navbar-brand {
  color: black;
  background: white;
  border-radius: 10px;
  font-size: 150%;
  line-height: 0px;
}
nav.navbar .navbar-brand:hover i:nth-child(odd) {
  color: steelblue;
  text-shadow: 1px 1px 2px rgba(0,0,100,0.2);
}
nav.navbar .navbar-brand:hover i:nth-child(even) {
  color: grey;
  text-shadow: 1px 1px 5px orange;
}
nav .navbar-nav .fa {
  margin-left:  0.2em;
}
nav .navbar-nav .nav-item {
  margin-right: 0.4em;
  padding-right: 0.4em;
}
nav .nav-login {
  font-weight: bolder;
}
@media (min-width: 992px) {
  nav.navbar { padding: 0rem 1rem; }
}

/* Home page titles */

.home .body-content h2 {
  text-align: center;
  padding-bottom: 0.3rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid grey;
}
.home-page h1,
.home-page .home-nav {
  display: block;
  text-align: center;
}
.home-page .home-description p:only-child {
  margin: 0px;
}
.home-page .home-description {
  margin: 1em;
  font-size: 125%;
}
.home .start-event {
  margin: 1em;
}
.home .an-event .card {
  width: 100%;
  margin-bottom: 1em;
}
.home .an-event .card-img-top {
  height: 10em;
  /* max-height: 10em; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.home .an-event .card-img-top.gallery-img {
  background-size: cover;
}
.home .an-event-meta {
  font-size: 90%;
  color: #777;
  text-align: right;
}
.home .an-event-meta b {
  display: block;
}
.home .home-buttons {
  font-size: 120%;
  z-index: 1;
  position: relative;
}

/* Customize the flipclock widget */
.event-countdown {
  margin-top: 20px;
  display: inline-block;
}
.event-countdown .rotor-group-heading {
  display: none;
}
@media (max-width: 400px) {
  .event-countdown {
    display: none;
  }
}
.container-countdown {
  width: 100%;
  display: block;
  text-align: center;
}
@media (max-width: 1190px) {
  .event-footer .event-countdown {
    transform: scale(0.5);
    position: initial;
    left: initial;
    margin: 0px;
  }
}
@media (min-width: 2000px) {
  .event-footer .event-countdown {
    display: none;
  }
}

.community-embed {
  margin-top: 4em;
}
.community-embed .fa-comment {
  position: relative;
  color: rgba(255,255,255, 0.1);
  font-size: 50px;
  line-height: 0px;
  clear: none;
  display: inherit;
}
@media (max-width: 760px) {
  .community-embed .fa-comment {
    display: none !important;
  }
}

/* Home page carousel */
.home-page .carousel-caption .event-header {
  top: 0px;
  left: 0px;
}
.home-page .carousel-caption .section-header-logo {
  display: inline;
  position: absolute;
  left: -90px;
  top: 10px;
}
.home-page .carousel-caption .section-header-logo img {
  width: 100%;
  max-height: 100%;
}
.home-page .carousel-caption .event-header .section-header-content {
  text-align: left;
  text-decoration: none;
  color: initial;
  background: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  padding: 1em;
  width: 60%;
  left:  50%;
  position: relative;
  margin-left: -27%;
}
.home-page .carousel-caption .home-description {
  max-height: 8.2em;
  overflow: hidden;
}
.home-page .carousel-caption .home-description p {
  padding: 0.5em 1em;
  text-align: left;
  color: black;
  display: inline-block;
  background-color: lightyellow;
  clear: both;
}
.home-page .carousel-item {
  height: 32rem;
}
.home-page .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.home-page .carousel-caption .event-countdown {
  margin-bottom: -50px;
}
.home-page .carousel-caption .honeycomb .hexagon {
  opacity: 1;
  box-shadow: 5px 5px 1px #777;
}
@media (max-width: 600px) {
  .home-page .carousel-caption .section-header-logo {
    position: relative;
    float: none;
    left: 0px;
    top: -5px;
  }
  .home-page .carousel-caption .event-header .section-header-content {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0px;
    margin: 0px;
  }
}
@media (max-width: 1000px) {
  .home-page .carousel-caption .event-header .section-header-content {
    width: 100%;
  }
}

.jumbotron.home-page {
  background: none;
  padding: 1rem;
}
.jumbotron.event-page {
  margin-top: 40px;
  padding: 30px;
}
.with-event .start-project {
  text-align: center;
  display: block;
}
.event-home .event-info {
  box-shadow: 3px 3px 0px rgb(0 0 0 / 30%);
  border: 1px solid rgba(0,0,0,0.3);
}
.event-home .event-info .event-summary {
  text-align: center;
  margin: 1em 10%;
  font-size: 180%;
}
.event-home .event-info .event-description {
  font-size: 110%;
  padding: 1em;
}

/* ---- Hexagonal hawtness ---- */

.event-home .honeycomb {
  width: 760px;
  margin-top: 30px;
}
.hexagon.blank { display: none; }
@media (max-width: 900px) {
  .event-home .honeycomb {
    margin-top: 0px;
    width: 600px;
  }
  .hexagon.blank { display: inline-block; }
}
@media (max-width: 560px) {
  .event-home .honeycomb {
    margin-top: 0px;
    width: 300px;
  }
}
@media (max-width: 480px) {
  .event-home .honeycomb {
    text-align: center;
  }
}

/* Styles for an event in preparation */
.event-prep {
}
/* Styles for an event that has started */
.event-started {
}
/* Styles for an event that has finished */
.event-finished .project .progress {
  display: none;
}

.hexagon {
  background-size: cover;
  background-position: center;
  margin-bottom: 73px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.event-home .hexagon {
  margin-bottom: 4px;
}
.hexagon.gridfix {
  visibility: hidden;
  margin-top: 2em;
}
.hexagon:hover {
  box-shadow: 0 4px 9px rgb(0 0 0 / 5%), 0 9px 15px rgb(0 0 0 / 17%);
  transform: scale(1.2);
}
.hexagon.blank {
  visibility: hidden;
}
.hexagon .team-count {
  top: -2em;
  right: -0.8em;
  min-width: 2em;
  position: absolute;
  color: black;
  font-size: 80%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px dashed rgba(0,0,200,0.4);
}

.project-page.phase-Challenge .progress,
.challenge.hexagon .progress { display: none; }
.hide-challenges .challenge { opacity: 0.1 !important; }

.challenge.hexagon .hexagontent {
  color: #35a;
  font-weight: normal;
  padding: 4px 0px;
}
.challenge.hexagon {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon::before {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon::after {
  background-color: white;
  border-top: 1px dashed rgba(0,0,200,0.4);
  border-bottom: 1px dashed rgba(0,0,200,0.4);
}
.challenge.hexagon:hover {
  box-shadow: none;
}

/* Hexagon inner content */
.project .hexagontent {
  overflow: hidden;
  color: black;
  line-height: 1.5;
}
.project .hexagontent.with-icon div {
  font-size: 90%;
}
.project .hexagontent div {
  max-height: 5.4em;
}
.project .hexagontent .fa {
  font-size: 240%;
}

.hexagon .hexagontent span {
  display: inline-block;
  max-height: 7em;
  overflow: hidden;
}
.hexagon .hexagontent.text-md span {
  font-size: 80%;
  line-height: 140%;
}
.hexagon .hexagontent.text-sm span {
  font-size: 60%;
  line-height: 100%;
}

.honeycomb {
  text-align: left;
}
.honeycomb .hexagon {
  opacity: 0.4;
  box-shadow: none;
  margin: 3px 21px;
  clear: none;
}
.honeycomb .hexagon, .hexagon::before, .honeycomb .hexagon::after {
  width: 82px;
  height: 142px;
}
.honeycomb .hexagon:nth-child(even) {
  top: 73px;
  clear: both;
}
.honeycomb .hexagon.category-highlight {
  opacity: 1.0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.3);
}
.honeycomb .hexagontent {
  font-size: 1.0rem;
  text-shadow: 1px 1px 1px rgb(255,255,255);
}
.honeycomb .hexagon.hexalist {
  display: none;
  background: white !important;
  color: black;
}
.honeycomb .hexagon.hexalist.category-highlight { display: block; }
.hexagon.hexalist .hexagontent {
  overflow: visible;
  position: relative;
  transform: none;
  left: 10%;
  width: auto;
  text-align: left;
  margin-bottom: 10px;
}
.hexagon.hexalist .hexagontent i.fa,
.hexagon.hexalist .hexagontent br { display: none; }
.hexagon.hexalist .hexagontent small { font-size: 100%; }
.challenge.hexalist .progress { visibility: hidden; }
.project.hexalist .progress {
  float: left;
  position: initial;
  margin-right: 20px;
}

.hexagon {
  background-size: cover;
  background-position: center;
}
.hexagon .hexaicon {
  width: 2em;
  height: 2em;
  background-color: white;
  background-size: cover;
  position: relative;
  left: 50%;
  margin: 0.5em 0 0 -1em;
  box-shadow: -2px -2px 1px rgb(0 0 0 / 20%);
  border-radius: 1em;
}

/* Adjust brightness of every other hexagon */
.project.hexagon:nth-child(even) {
  filter: brightness(105%);
  /* background-color: rgba(230, 200, 160, 0.95);  */
}
/* .project.hexagon:nth-child(odd) { background-color: rgba(230, 210, 200, 0.95); } */

/* --- Hexagon default palette --- */
.project.hexagon  { background-color: #f5d1e4; } /* primary color */
.hexagon.stage-5  { background-color: #f5d1e4; }
.hexagon.stage-10 { background-color: #e3d0e3; }
.hexagon.stage-20 { background-color: #e0c9ca; }
.hexagon.stage-30 { background-color: #e8b6a6; }
.hexagon.stage-40 { background-color: #f1cfad; }
.hexagon.stage-50 { background-color: #f6e8c0; }
/* https://colorkit.co/palette/f5d1e4-e3d0e3-e0c9ca-e8b6a6-f1cfad-f6e8c0/ */

/* --- Tooltips used on honeycomb --- */

.tooltip .tooltip-inner {
  border-radius: 10px;
  text-align: center;
}
.tooltip .tooltip-inner div { /* Summary */
  hyphens: auto;
}
.tooltip .tooltip-inner span { /* Hashtag */
  font-weight: bold;
  font-size: 80%;
  font-family: monospace;
  overflow: hidden;
  max-height: 1.5em;
  display: block;
}
.tooltip .tooltip-inner img {
  max-width: 100%;
  max-height: 13em;
  margin: 0.5em 0;
  background: whitesmoke;
}
.tooltip .tooltip-inner p { /* Status */
  font-size: 150%;
  letter-spacing: 0.8em;
  margin: 0px 0px 5px 0.7em;
}

/* --- Progress bars on projects --- */

.project .progress {
  z-index: 999;
  opacity: 0;
  position: absolute;
  margin-top: 1em;
  margin-bottom: 0px;
  height: 10px;
  width: 100px;
  margin-left: -52px;
  left: 50%;
  border: 1px solid white;
  bottom: 5%;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
}
.project:hover .progress {
  opacity: 0.8;
}
.project .progress .progress-bar {
  background-color: #aaa;
}

.progress-container {
  display: inline-block;
  text-align: center;
  margin-bottom: -5px;
  margin-left: 1em;
  margin-right: 5px;
}
.project-info .progress {
  width: 100px;
  display: block;
}
.progress-bar {
  background-color: #3399f3;
  color: #fff;
}
.project-info .project-score {
  display: inline-block;
  text-align: center;
  margin-left: 1em;
  margin-right: 5px;
}
.project-score .label-info {
  color: #aaa;
  font-size: 140%;
}
.project-score .progress-bar {
  min-width: 2em;
}

/* --- Project page --- */

.project-page .project-name {
  font-weight: bold;
  margin-top: 0.5em;
}
.project-page .project-name h2 {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  font-size: 3rem;
}
.project-tips.alert-light {
  color: black;
}
.project-page .project-team {
  font-weight: normal;
  color: #999;
}
.project-home .project-image-container {
  margin-top: 0px;
  margin-bottom: -15px;
  height: 200px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  opacity: 0.1;
}
.project-home .jumbotron.project-page {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid #ccc;
  margin-top: 0em; /* to overlap slightly with image */
  position: relative;
}
.project-home .project-image-container.underlay {
  filter: blur(2px);
  z-index: -1;
}
.project-home .project-image-container.overlay {
  opacity: 1.0;
}
.project-home #overlayImage {
  position: absolute;
  margin-top: -170px;
  margin-left: 10px;
  height: 160px;
  max-width: 320px;
  overflow: hidden;
}
.project-page .details {
  font-size: 80%;
  margin-top: 1em;
  text-align: right;
}
.project-page .details p {
  margin: 0px;
}
.project-page .details a {
  font-size: 120%;
}
.project-page .project-info {
  min-height: 240px;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 5px;
  /* When shown in tabs */
  border-top: none;
  border-radius: 0px;
  clear: both;
}
.project-page .project-star i {
  padding-right: 5px;
}
.project-edit-cover {
  z-index: 99;
  position: absolute;
  margin-top: -2em;
  margin-left: 1em;
}
.project-page img {
  max-width: 100%;
}
.project-page.jumbotron {
  background-color: white;
  color: black;
  padding: 1rem;
}
.project-page.jumbotron .btn {
  color: black;
}
.project-page .project-longtext blockquote {
  border-left: 3px solid lightgrey;
  padding-left: 1em;
  color: #555;
}
@media (min-width: 576px) {
  .project-home #overlayImage { max-width: 500px; }
  .project-page.jumbotron { padding: 2rem; }
  .project.hexalist .hexagontent {
    left: 35%;
  }
  .project-page .project-longtext { margin: 2em; }
  .project-page .project-autotext { margin: 2em; }
}
@media (min-width: 1000px) {
  .project-home #overlayImage { max-width: 800px; }
}
.project-page .project-info td,
.project-page .project-info th { padding: 0.2em 1.4em 0 0; }
.project-page .project-info thead { border-bottom: 1px solid black; }

.project-page .project-longtext { margin: 1em 0em; font-size: 125%; }
.project-page .project-autotext { margin: 0em; }

.project-page .latest-drib { padding: 1em; }

/* -- Timeline (dribs) -- */

.timeline-img {
  width: 2em;
  height: 2em;
  background: #baa;
  color: white;
  opacity: 1;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-left: -1em;
  text-align: center;
  line-height: 1.8em;
  font-size: 150%;
}
.project-page .timeline-content {
  overflow: hidden;
}
.timeline-content .content img {
  width: 100%;
}

/* Hides the triangle pointers in the timeline */
.project-page .timeline-card::after { display: none; }
.project-page .timeline-start .timeline-card::after,
.project-page .timeline-finish .timeline-card::after,
.project-page .timeline-progress .timeline-card::after { display: initial; }
.project-page .timeline-card .close { margin: 0.4em; }
/* Other project timeline customizations */
.project-page .timeline-review .timeline-content { background: #f2fef2; border-top: none; }
.project-page .timeline-pencil .timeline-content { background: #ffc; border-top: none; }
.project-page .timeline-finish .timeline-content,
.project-page .timeline-start .timeline-content { background: #aaa; }
.project-page .timeline-finish .date,
.project-page .timeline-start .date { color: white; }
.project-page .timeline-progress .timeline-img-header { background: lightblue; border: 5px solid #aaa; }
.project-page .timeline-progress .timeline-content .date { display: none; }
.project-page .timeline-item { margin-bottom: 20px; }
.timeline-boost .timeline-img-header {
  background: teal;
}
.project-page .badges .boost {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: teal;
  color: white;
  opacity: 1;
  border-radius: 1em;
  text-align: center;
  line-height: 1.8em;
  font-size: 150%;
}

.project-buttons { display: block; text-align: center; }
.project-buttons .btn {
  display: inline-block;
  text-align: center;
  font-size: 140%;
  width: 6em;
  background: rgba(255, 255, 255, 0.5);
}
.projectedit form .btn:hover,
.project-buttons .btn:hover {
  border: 1px solid rgba(0, 0, 100, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.project-buttons .btn span {
  font-size: 300%; display: block;
}

.project-page .widget {
  text-align: center;
  margin: 1em;
}
.project-page .widget iframe {
  max-width: 100%;
  overflow: hidden;
}

.userprofile .nav,
.project-page .nav {
  clear: both;
  padding: 20px 5px 5px;
  border-bottom: 1px solid lightgrey;
}
.project-page .nav a {
  text-shadow: 1px 1px 4px white;
  font-weight: bold;
  color: #007bff;
}
.project-page .nav a:not(.active):hover {
  background-color: rgba(200, 200, 200, 0.8);
}
.project-page .nav a.active {
  text-shadow: none;
  border-bottom: 1px solid white;
}

/* Autotext fader
.project-page .project-autotext.active {
  max-height: none;
  overflow: visible;
}
.project-page .project-autotext.active .cover {
  display: none;
}
.project-page .project-autotext {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}
.project-page .project-autotext .cover {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  cursor: pointer; cursor: hand;

  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(92%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
/- Autotext fader */

/* Project embedded content */
.project-page .resizable {
  width: 100%;
  height: 600px;
  box-shadow: 5px 5px 10px #535353;
  margin-bottom: 1em;
  border: 1px silver;
  border-radius: 4px;
  overflow: hidden;
  position: sticky;
}
.project-page .resizable iframe {
  width: 100% !important; height: 100% !important;
  border: none !important;
}
@media (max-width: 1000px) {
  .project-page .resizable {
    height: 300px;
  }
  .timeline h2 {
    font-size: 1.3rem;
  }
}
.win-size-grip {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 4px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/wingrip.png) no-repeat;
 }

/* Resources */
.resource-card {
  display: inline-block;
  background: rgba(0,0,0,0.06);
  width: 90%;
  padding: 0.1em 0.5em;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-right: 0.5em;
}
.resource-card:hover {
  background: rgba(0,0,0,0.03);
  text-decoration: none;
}
.resource-card p {
  font-size: 80%;
  line-height: normal;
  color: #333;
}

/* Oneboxes in content */
.onebox.what {
  border: 2px solid #ddd;
  background: #f0f0f0;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  color: black;
  padding: 0.5em;
  margin: 0.5em 1em 1em 0px;
  min-height: 6em;
  width: 50%;
  display: block;
  clear: both;
}
.onebox * {
  text-decoration: none !important;
  color: black;
}
.onebox:hover {
  opacity: 1.0;
}
.onebox h5 {
  display: inline-block;
  color: #007bff;
  clear: none;
}
.onebox .event-detail {
  font-size: 80%;
  opacity: 0.7;
}
.onebox .phase::before {
  content: " - ";
}
.onebox p {
  font-size: 90%;
}
.onebox.honeycomb {
  max-width: 80%;
  min-height: 8em;
  clear: both;
  display: block;
  margin: 20px 0px 0.8em 20px;
}
.onebox.honeycomb .hexagon {
  float: left;
  margin-top: -0.8em;
  margin-left: 0em;
  margin-right: 3em;
  opacity: 1;
  transform: scale(0.8);
}
.onebox.honeycomb .title {
  margin-top: 1em;
}
.onebox.honeycomb p {
  opacity: 0.8;
}

/* Project entry form */
.projectform .switch-editor .disabled i { display: none; }
.projectform .fld-progress .radio-inline { display: block; }
.projectform .fld-progress { border-width: 25px; padding-left: 5px; border-top: none !important; border-bottom: none !important; border-right: none !important; border-style: solid; -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%; -webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; }
.projectform .fld-progress select { font-size: 150%; }
.projectform form .control-label[for='resource'],
.projectform form .control-label[for='note'] { margin-top: 0px; }
.projectform form .checkbox label[for="is_autoupdate"] {
  margin-left:30%; margin-top:20px; padding:10px;
  border-radius:10px; box-shadow: 0 0 0 10px cyan;
}
.projectform form .checkbox label[for="is_autoupdate"] input {
  margin-right: 1em;
}
.projectform form .checkbox label[for="is_webembed"] {
  font-weight: bold; display: block; margin-bottom: 1em;
}
.projectform form .checkbox label[for="is_webembed"] input {
  margin-right: 0.4em;
}
.projectform form .autotext-indicator {
  margin-top: 2em;
  display: block;
}
.projectform form .autotext-indicator i {
  margin:0px 1em; color:red;
}

/* General form styles */
.userform form label,
.userform form .control-label,
.eventform form .control-label,
.projectpost form .control-label,
.projectform form .control-label {
  font-weight: 400; font-size: 140%;
  display: block;
  text-align: center;
  margin-top: 2em;
}
.projectform form > .checkbox {
  margin-top: 1rem;
}
.userform form > .form-group,
.eventform form > .form-group,
.projectpost form > .form-group,
.projectform form > .form-group {
  margin-top: 1rem;
  margin-bottom: 0px;
  text-align: center;
}
.userform form .help-inline,
.eventform form .help-inline,
.projectpost form .help-inline,
.projectform form .help-inline {
  color: #555;
  display: block;
  margin-top: 1em;
}
.userform form .form-control,
.eventform form .form-control,
.projectpost form .form-control,
.projectform form .form-control {
  font-size: 125%;
  box-shadow: 5px 5px 5px #ccc;
}
.userform .form-group input {
  margin-right: 0.5em;
}
.userform .form-actions {
  clear: both;
  display: block;
  margin-top: 1em;
  text-align: center;
}
.userform #submit {
  min-width: 7em;
  font-size: 150%;
}
.projectpost .form-actions input,
.projectform .form-actions input {
  margin-top: 1em;
  font-size: 150%;
  width: 100%;
}
.with-event .form-group label.required::after {
    color: #ff0000;
    content: " *"
}

/* Code blocks */
pre { color: #333; background: white; }

/* Inline "README" */
#readme-md:not(.tab-pane)::before {
  content: 'README';
  width: 100%;
  display: block;
  text-align: center;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
  color: white;
  background: lightblue;
  padding: 1em;
  margin: 0.5em 0;
}

/* Badges */
.challenge-badge {
  display: block;
  height: 3em;
  width: 100%;
  text-indent: -9999px; color: transparent;
  margin-right: 0.3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.challenge-badge.level-1 {
  background-image: url('/static/img/badge-green.png');
}
.challenge-badge.level-2 {
  background-image: url('/static/img/badge-blue.png');
}
.challenge-badge.level-3 {
  background-image: url('/static/img/badge-black.png');
}
.challenge-badge.level-4 {
  background-image: url('/static/img/badge-red.png');
}

/*.navbar-collapse .navbar-nav li {
    text-align: center;
}*/
.nav-categories .btn, .project-category.btn {
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 64px;
}
.nav-categories label {
  border: 1px solid #ddd;
}
.nav-categories label.active {
  border: 1px solid #777;
}
.nav-categories label input {
  display: none;
}
.nav-categories {
  margin: 10px;
  max-width: 97%;
  overflow-x: auto;
}
.project-score {
  float: right;
  margin-right: 15px;
  text-align: right;
}
.project-page .project-score {
  text-align: center;
  min-width: 8em;
}
.project-page .project-category {
  float: right;
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.6em;
  margin-right: 15px;
  text-align: right;
  clear: both;
}
.project-page .project-category a:hover {
  text-decoration: none;
}
.profile-projects .stage-conditions .stage-no {
  font-weight: bold;
}
.profile-projects .stage-conditions .stage-ok .fa {
  color: green;
}
.profile-projects .stage-conditions .stage-no .fa {
  color: orange;
}
.project-edit-buttons {
  left: -1.5em;
  float: right;
}
.project-edit-buttons * {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none !important;
  opacity: 0.8;
}
@media only screen and (max-width:460px){
  .section-header-content { display: none; }
  .project-edit-buttons { margin: 1em; }
  .container .jumbotron { padding: 0.3em; border: none; }
  .jumbotron section { overflow: hidden; }
  .project-home .jumbotron.project-page { border-width: 1px; }
  .timeline .timeline-item .timeline-img { margin-left: 0em; margin-top: -1em; }
}
.category-info {
  padding: 0 1em;
  text-align: left;
}
.category-info img {
  max-width: 100%;
}
.category-container {
  margin-top: 15px;
  padding-top: 10px;
}
.category-tip { opacity: 0.8; }

.event-participants.jumbotron {
  padding: 2rem;
  border: 4px dashed lightgray;
}
.event-participants h1 {
  margin: 1em;
  text-align: center;
  display: none;
}
.event-participants .participant-box {
  padding: 2em;
  margin-bottom: 2em;
  text-align: center;
}

@media (max-width: 760px) {
  .category-info {
    margin-top: 0px;
  }
  .project-score {
    float: none;
  }
}

/* big stylish jumbotrons! */

.jumbotron {
  padding: 2rem;
  border-radius: 0px;
  border: 2px dotted lightblue;
  box-shadow: 5px 5px 0px lightblue;
}
.alert.jumbotron {
  padding: 1rem;
}

/* tip section */

.join-tip {
  padding: 0.5em;
  text-align: center;
}

/* avatar and profile styles */

.team-gravatar img {
  vertical-align: top;
  width: 3.8em; height: 3.8em;
  border: 1px solid rgba(0,0,0,0.1);
}
.team-gravatar span {
  width: 48%;
  display: inline-block;
  padding-left: 0.2em;
}
.team-gravatar {
  width: 200px;
  height: 5em;
  display: inline-block;
  background: rgba(255,255,255,0.5);
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 5px;
  overflow: hidden;
  text-align: left;
}
.team-gravatar:hover {
  text-decoration: none;
  border: 2px solid white;
  box-shadow: 2px 2px 2px rgba(0,0,200,0.5);
}

.team-roles {
  display: inline-block;
  float: right;
  margin: -7px;
  z-index: 99;
}
.team-roles em {
  display: block;
  font-size: 90%;
  font-style: normal;
  text-align: center;
  color: #333;
  padding: 1px 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #999;
  margin-bottom: 1px;
}

.widget-team .kick-user {
  position: absolute;
  font-size: 150%;
  margin-left: -2.2em;
}
.widget-team .kick-user:hover {
  font-weight: bold;
  text-decoration: none;
}
.missing-roles .role {
  width: 200px;
  height: auto;
  display: inline-block;
  background: rgba(0,0,0,0.02);
  border-top: 2px solid rgba(0,0,100,0.2);
  border-left: 2px solid rgba(0,0,100,0.2);
  border-radius: 10px;
  padding: 1em;
  margin-right: 5px;
  overflow: hidden;
  text-align: left;
  opacity: 0.5;
  cursor: pointer;
}
.missing-roles .role:hover {
  opacity: 1.0;
}

.profile-header img {
  width: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.profile-header span {
  font-size: 3rem;
}

.profile-social {
  margin-left: 60px;
  line-height: 26px;
}
.profile-social img, .profile-social i {
  width: 26px;
  font-size: 26px;
  display: inline-block;
  float: left;
  color: #333;
  margin-right: 5px;
}
.profile-roles {
  margin: 0; padding: 0;
}
.profile-roles li {
  list-style: none;
  line-height: 2em;
  font-size: 140%;
  font-weight: bold;
}
.userprofile h1 {
  text-align: center;
  margin-top: 1em;
}
.team-count,
.user-score {
  min-width: 2.5em;
  text-align: center;
  display: inline-block;
  background: #007bff;
  color: #fff;
  border-radius: 2em;
  padding: 0.5em;
}
.profile-projects {
  width: 100%;
  padding-top: 1em;
  border: 1px dotted rgba(0,0,0,0.5);
  border-radius: 20px;
}
.theme-dark .profile-projects {
  border-color: rgba(255,255,255,0.5);
}
.theme-dark .bg-white {
  color: black;
}
.profile-projects.honeycomb {
  padding: 0px;
  background: transparent;
}
.profile-projects.honeycomb .row {
  padding: 10px 40px;
  overflow: hidden;
  background: none;
}
.profile-projects.honeycomb .hexagon {
  margin-bottom: 80px;
}
.profile-projects .row {
  overflow-x: auto;
  /*background-image: repeating-linear-gradient(125deg, #fcfcfc, #e9e9e9 5px, #eee 2px, transparent 30px);*/
}
.profile-projects .flex-row::-webkit-scrollbar {
  display: none;
}
.profile-projects .flex-row .card.challenge:first-child,
.profile-projects .flex-row .card.project:first-child {
  margin-left: 20px;
}
.profile-projects .flex-row .card.challenge,
.profile-projects .flex-row .card.project {
  height: 8em;
  width: 20em;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  background-color: white;
  border-left: 1px solid #ccc;
}
.profile-projects .card {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.profile-projects .card:hover {
  box-shadow: 3px 3px 3px lightblue;
}
.profile-projects .card .project-image {
  height: 100%;
  max-width: 40%;
  padding: 0px;
  margin-right: 1em;
  float: left;
}
.profile-projects .card-body {
  padding: 10px;
  background: white;
  height: 100%
}
.profile-projects .card-text {
  font-size: 90%;
  color: #555;
}
.profile-projects a:hover {
  text-decoration: none;
}
.profile-projects .project-score {
  float: right;
  margin: 5px;
  text-align: center;
  width: 100px;
}
.profile-projects center {
  margin-top: 5px;
}
.userprofile .profile-text {
  font-size: 125%;
  padding: 1em 1em 0.1em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
@media (max-width: 760px) {
  .profile-projects .project-score,
  .profile-projects .card .project-image
  { display: none; }
  .profile-projects .card {
    padding-left: 0px !important;
  }
}

/* Embed view of the projects */
.embed-view footer, .embed-view .navbar { display: none; }
.embed-view h2 { margin-bottom: 0px; }
.embed-event {
  text-align: center;
  background: none transparent !important;
}
.embed-view, .embed-view .container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background: none !important;
}
.embed-view .honeycomb {
  transform: scale(0.4);
  transform-origin: top center;
}
.embed-event .event-countdown {
  bottom: 0px;
  position: absolute;
  transform: scale(0.5);
  display: block;
}
.embed-view .section-header {
  display: none;
}
.home-nav .embed-view {
  width: 100%;
  height: 10em;
}
.home-nav .embed-view .ibws-fix {
  width: 800px;
}
@media (max-width: 1000px) {
  .home-nav .embed-view {
    display: none;
  }
}


/* Print view of projects */
.print-page .project-meta {
  float: right;
  width: 50%;
  list-style-type: none;
  border-left: 1px solid #999;
  padding-left: 15px;
}
@media only print {
  .no-print,
  footer { display: none; }
}

/* ------------
Code of Conduct
--------------- */
.codeofconduct { margin-top:20px; padding:10px; border-radius:10px; box-shadow:
		0 0 0 4px orange,
		0 0 0 6px yellow,
		0 0 0 10px cyan; }

/* ------------
Issues list view
--------------- */
.list-data .list-group-item {
    border-left: none; border-right: none; border-top: none;
    /* border-bottom: 1px solid #aaa; */
    border-radius: 0px;
    margin-right: 1em;
    text-align: left;
    color: inherit;
    text-decoration: none;
}
.list-data .list-group-item.link-more {
    color: blue;
}
.list-data .list-group-item:hover {
    background: lightyellow;
}
.list-data .list-group-item img {
    height: 1em;
    padding-right: 0.5em;
}
@media (min-width: 1000px) {
  .list-data .list-group-item {
      display: inline-block;
      overflow: hidden;
      height: 3em;
      line-height: 2em;
      padding-top: 0.4em;
  }
}
.list-data a.list-group-item:nth-child(1) {
    /* border-top: 1px solid #aaa; */
}
.widget.widget-github {
  text-align: left;
}
.widget.widget-github .list-group-item:last-child {
  border:none;
}

/* -------------
Instruction page
---------------- */

.instruction-page .resource-list {
  margin: 0; padding: 0;
  margin-top: 1em;
}
.instruction-page .event-resources {
  padding: 2rem; margin: 0;
  font-size: 125%;
}

.list-stages .step {
  margin-top: 3em;
}
.list-stages .step .title {
  padding: 3px;
  margin-left: 2rem;
  display: block;
  opacity: 0.7;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  font-size: 2rem;
}
.list-stages .step:hover .title { opacity: 1.0; }
.list-stages .step.active .title { color: blue; }
.list-stages .step .number {
  font-size: 3rem;
  position: absolute;
  z-index: 0;
  margin-top: -1rem;
  color: burlywood;
  font-weight: bold;
}
.list-stages .step .agree-list,
.list-stages .step .subtitle {
  margin: 0em 3em;
  font-size: 125%;
}
.list-stages .step .agree-list li {
  clear: both;
  list-style: disclosure-closed;
  padding-right: 1.5em;
}
.list-stages .step .card {
  background: white;
  margin: 1px -1px;
  min-height: 7em;
  min-width: 16em;
  vertical-align: top;
}
.form-project-stage {
  /* margin-top: 1em; */
  font-size: 125%;
  text-align: left;
  /* border: 3px dashed lightgray; */
  /* padding: 1em; */
}
.form-project-confirm input {
  transform: scale(1.5);
  position: absolute;
  left: 20px;
}
.form-project-confirm label {
  clear: both;
  margin-top: 0.5em;
  cursor: pointer;
  padding: 0 0 0 2em;
}
.form-project-confirm:hover {
  background-color: lightyellow;
}
.projectpost alert {
  margin-top: 0.5em;
}
.projectpost .honeycomb {
  position: absolute;
  opacity: 0.6;
  z-index: -9;
  left: 50%;
  top: 70px;
  margin-left: -60px;
}

/* ------------
Search engine
--------------- */

.navbar .form-inline .form-control {
  background-color: transparent;
  border-color: rgba(0,0,0,0.1);
}
.navbar .form-inline .form-control:focus {
  background-color: white;
}

#search-results .card-image {
  width: 48px;
  height: 7em;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  background-size: contain;
  margin-right: 8px;
}

/* ------------
Data Packages view
--------------- */

/* .list-datapackage { max-height: 14.7em; overflow: auto } */
#datacentral .btn { color: white; }

.list-datapackage .list-group-item {
    border-left: none; border-right: none; border-top: none;
    border-bottom: 1px solid #333; border-radius: 0px;
    background: transparent;
}
@media (min-width: 1000px) {
.list-datapackage .list-group-item {
    width: 100%;
    display: inline-block;
    min-height: 3em;
    line-height: 2em;
    padding-top: 0.4em;
}
.list-datapackage a.list-group-item:nth-child(2) {
    border-top: 1px solid #333;
}
}
.list-datapackage a.list-group-item:nth-child(1) {
    border-top: 1px solid #333;
}
.list-datapackage .list-infos {
    font-size: 80%; color: #999;
}
.datapackage .card-text.description {
  max-height: 12em;
  overflow: auto;
}
.datapackage .schema-fields {
  max-width: 9em;
  overflow: hidden;
  display: inline-block;
  max-height: 1.2em;
}
.datapackage .schema-fields b[title="date"] { color: green; }
.datapackage .schema-fields b[title="string"] { color: blue; }
.datapackage .schema-fields b[title="number"] { color: orange; }
.datapackage .schema-fields b[title="integer"] { color: darkred; }

/* -----------
SlackIn button
-------------- */

.signin-slack {
  font-size: 0px;
  border: 0px !important;
  background: url('/static/img/sso/slack-sign-in.png') no-repeat;
  width: 173px; height: 41px;
}
.signin-azure {
  border: 0px !important;
  padding-left: 50px;
  background: url('/static/img/sso/azure_teams.svg') no-repeat;
  width: auto; height: 41px;
}
.signin-github {
  font-size: 0px; border: 0px !important;
  background: url('/static/img/sso/github-sign-in.png') no-repeat;
  width: 372px; height: 64px;
}
.signin-auth0 {
  font-size: 0px;
  border: 1px solid #999;
  background: url('/static/img/sso/auth0_icon.png') no-repeat;
  width: 156px; height: 71px;
}
.signin-mattermost {
  border: 1px solid #999;
  font-size: 0px;
  background: url('/static/img/sso/Mattermost-Logo-Denim.svg') no-repeat;
  width: 190px; height: 43px;
}
.sso-login .btn:hover {
  border: 1px solid blue;
}
.account-register a { margin-left: 3.5em; font-size: 125%; }
.account-register::before,
.sso-login::after {
  content: 'or';
  display: block;
  margin: 1em 5em;
  font-size: 200%;
  font-family: cursive;
  font-style: italic;
}

.__slackin { margin-bottom: 10px; display: block; }

/* .signin-slack, .signin-slack:hover {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 8px;
    line-height: 41px;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    padding: 0 42px;
} */
